# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
.DS_Store
.vscode/settings.json
tmp/
workspace.code-workspace
.twitter.json
.secrets.json
data/museums/~$manual_google_url_results_top10_2021-02-19.xlsx
data/samples/~$sample_museum_search_with_loc.xlsx
mip/notebooks/data/yelp_review_full_csv/readme.txt
mip/notebooks/data/yelp_review_full_csv/test.csv
mip/notebooks/data/yelp_review_full_csv/train.csv
data/text_analytics_tests/ATIS_dataset-master.zip
data/annotations/~$indicators_and_annotations-v4.xlsx
data/annotations/~$match_sample_for_validation-v1.xlsx
mip/notebooks/pur_dayofweek_bar.png
data/annotations/~$match_sample_for_validation-v3.xlsx
data/annotations/~$match_sample_for_validation-v4.xlsx
data/analysis/~$match_validation_model_comparison_all_vars-v1.xlsx
data/annotations/~$indicators_and_annotations-v6.xlsx
data/annotations/~$match_sample_for_validation-v6.xlsx
data/analysis/matching_validation/~$match_validation_comparison_traditional_models-v1.xlsx
data/analysis/matching_validation/~$match_validation_model_comparison_deeplearning-v2.xlsx
data/museums/~$museum_websites_urls-v2.xlsx
login_error.html
data/annotations/~$indicators_and_annotations-v7.xlsx
data/annotations/~$match_sample_for_validation-v8.xlsx
data/annotations/~$museum_website_match_sample5_lang_staff-v2.xlsx
data/annotations/~$museum_website_match_sample5_lang_staff_summary-v2.xlsx
data/analysis/temporal_analysis/~$museum_activity_groups_var1_governance_simpl.xlsx
data/analysis/temporal_analysis/~$museum_activity_groups_var1_subject_matter.xlsx
.Rproj.user
mip/notebooks_py/data/yelp_review_full_csv/readme.txt
mip/notebooks_py/data/yelp_review_full_csv/test.csv
mip/notebooks_py/data/yelp_review_full_csv/train.csv
.Rhistory
data/analysis/temporal_analysis/~$museum_activity_groups_var2_governance_simpl_country.xlsx
data/analysis/temporal_analysis/~$museum_activity_groups_var1_size.xlsx
data/analysis/indicators/~$museums_indicators_sessions.xlsx
mip/mip_search_app/mip_corpus_search-test2.db
mip/mip_search_app/google_collab_backup/mip_corpus_search.db.zip
data/analysis/missing_web_soc_museums/~$missing_web_soc_museum_pc.xlsx
data/analysis/missing_web_soc_museums/~$missing_web_soc_museum_wide_pc.xlsx
data/annotations/~$msg_count_by_museum_manual_validation-v2.xlsx
